@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
        box-sizing: border-box;
}
img{

    max-width: 100%;

}

body{
    background-color: #efefef;
    margin:0;
    font-family: "Montserrat", sans-serif;
}

.layout{
    background-color: #ffff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding:100px 100px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:14px;
}

h1{
    margin:0;
    font-size: 50px;
    font-weight: 900;
    max-width: 620px;
    line-height: 55px;
    text-align: center;
}

.review {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.review img{
    width:30px;
}
.review span{
    font-weight: 600;
    font-size: 22px;
    margin-left: 20px;
}

h6{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
.btn{
    background-color: #0097e1;
    width:100%;
    color:#ffff;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding-left: 100px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 100px;
    font-weight: 700;
    border-radius: 6px;

}

.trustpilot{
    display: flex;
    align-items: center;
    gap:10px;

}
.trustpilot img{
    max-width: 200px;
}
.trustpilot span{
    font-size: 20px;
    font-weight: 500;

}
h2 {
    font-size: 45px;
    font-weight: 800;
    margin:0px;
    margin-top:20px;
}

.text-shadow{
    text-shadow: 5px 5px 30px #1a1a1a70;
}
h4{
    max-width: 377px;
    font-size: 22px;
    text-align: center;
    margin: 0px;
}

.first {
    font-family: "Luckiest Guy", cursive;
    font-size: 50px;
    max-width: 568px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
}

.star img{
    max-width: 25px;
}

.italy {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.check h5 {
    margin: 0;
    font-size: 24px;
}
.check img{
    width:25px;

}

.btn-layout {
    background-color: #ffffff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}
.btn-layout a {
    background: #2382C2;
    background: linear-gradient(0deg,rgba(35, 130, 194, 1) 41%, rgba(76, 197, 220, 1) 95%);
    width: 100%;
    padding: 20px 200px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}

.badge{
    display: flex;
    gap:20px;
    max-width: 600px;
    align-items: center;
}
.badge span{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.badge img{
    max-width: 100px;
}
.paramedic{
    max-width: 500px;
    border-radius: 7px;
}
.ems {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    max-width: 484px;
    line-height: 40px;
    margin-top: 21px;
    font-weight: 700;
}
.money {
    font-family: "Luckiest Guy", cursive;
    font-size: 50px;
    max-width: 663px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.feedback {
    display: flex;
    gap: 10px;
    max-width: 600px;
    align-self: flex-start;
    margin-bottom:30px;
}
.customer{
    max-width: 80px;
}
.customer img{
    border-radius: 100px;
    aspect-ratio: 1/1;
}
.box img{
    border-radius: 10px;
}
.box .content{
    background-color: #efefef;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.box .content h3{
    margin: 0;
}
.box .content p{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.passed {
    font-family: "Luckiest Guy", cursive;
    font-size: 50px;
    max-width: 663px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 25px;
}


.visual {
    font-family: "Luckiest Guy", cursive;
    font-size: 45px;
    max-width: 800px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
}

.customer3 {
    width: 100%;
}
.customer3 img {
    border-radius: 100px;
    aspect-ratio: 1/1;
}